<div #splash class="container">
  <div id="bar"></div>
  <div class="sky">
    <h1>Pokémon of the Week</h1>
    <button mat-button id='btn-login' raised (click)="login()" *ngIf="needLogin">
      <mat-icon>login</mat-icon>
      Login to Start
    </button>
    <app-constellation uid="{{uid}}"></app-constellation>
    <br>
    <!-- <img class="sihouette" src='/images/sprites/pokemon/potw-898.png' /> -->
    <img class="animate fighting legend1" src='/images/sprites/pokemon/potw-1001.png' />
    <img class="animate electric legend2" src='/images/sprites/pokemon/potw-1002.png' />
  </div>
  <div class="ground">
    <img class="ambient steel" src='/images/sprites/pokemon/potw-907.png'>
    <img class="ambient ice d1" src='/images/sprites/pokemon/potw-128-combat_breed.png'>
    <img class="ambient steel d2" src='/images/sprites/pokemon/potw-910.png'>
    <img class="ambient ice d1" src='/images/sprites/pokemon/potw-128-combat_breed.png'>
    <img class="ambient steel" src='/images/sprites/pokemon/potw-913.png'>
    <br>
    <img class="animate-shake" src="/images/sprites/pokemon/potw-942.png" />
    <img class="animate-shake d1" src="/images/sprites/pokemon/potw-940.png" />
    <img class="animate-shake d2" src="/images/sprites/pokemon/potw-960.png" />
    <img class="animate-shake d1" src="/images/sprites/pokemon/potw-940.png" />
    <img class="animate-shake" src="/images/sprites/pokemon/potw-942.png" />
    <br>
    <img class='small' src='/images/sprites/items/potw-item-teradark.png'>
    <img class='small' src='/images/sprites/items/potw-item-teraflying.png'>
    <img class='small' src='/images/sprites/items/potw-item-terapsychic.png'>
  </div>
  <br>

  <br>
  <div #droppings class="droppings"></div>
  <h3 class="version">{{appVersion}}</h3>
  <h3 class="tip">
    <em>Did you know?</em>
    <br>
    <span id="tip">{{selectedTip}}</span>
  </h3>
  <pokeball-spinner [diameter]="64"></pokeball-spinner>
</div>