button {
  color: var(--toolbar-text-color);
}

div[secondary] {
  font-size: x-small;
}

dialog {
  font-size: 11pt;
}

li.pnt {
  cursor: pointer;
}

@media (display-mode: window-controls-overlay) {
  button {
    height: 26px;
  }
}