div.outside {
  display: inline-block;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 26px;
  height: 26px;
  clip-path: polygon(46% 0, 90% 25%, 90% 75%, 46% 100%, 0 75%, 0 25%);
}

div.inside {
  display: inline-block;
  padding-left: 1.4px;
  padding-top: 1.7px;
  padding-bottom: 2px;
  width: 23.6px;
  height: 22px;
  clip-path: polygon(46% 0, 90% 25%, 90% 75%, 46% 100%, 0 75%, 0 25%);
}

mat-icon {
  width: 20px;
  height: 20px;
  vertical-align: top;
  opacity: 0.8;
  transition: all 150ms;
}

div:hover mat-icon {
  opacity: 1;
}

div.Bug {
  background-color: var(--type-bug);
}

div.Dark {
  background-color: var(--type-dark)
}

div.Dragon {
  background-color: var(--type-dragon);
}

div.Electric {
  background-color: var(--type-electric);
}

div.Fairy {
  background-color: var(--type-fairy);
}

div.Fighting {
  background-color: var(--type-fighting);
}

div.Fire {
  background-color: var(--type-fire);
}

div.Flying {
  background-color: var(--type-flying);
}

div.Ghost {
  background-color: var(--type-ghost);
}

div.Grass {
  background-color: var(--type-grass);
}

div.Ground {
  background-color: var(--type-ground);
}

div.Ice {
  background-color: var(--type-ice);
}

div.Normal {
  background-color: var(--type-normal);
}

div.Poison {
  background-color: var(--type-poison);
}

div.Psychic {
  background-color: var(--type-psychic);
}

div.Rock {
  background-color: var(--type-rock);
}

div.Steel {
  background-color: var(--type-steel);
}

div.Water {
  background-color: var(--type-water);
}

