<mat-card>
  <!-- Loading -->
  <div *ngIf="dowseType === 0">
    Scanning the area with the dowsing machine...
    <br>
    <img src="{{DOWSING_MCHN}}" />
  </div>
  <!-- Pkmn -->
  <div *ngIf="dowseType === 1">
    You found a wild {{res.label}}! Looks like it wants to stay with you.
    <br>
    <sprite-pokemon badge="{{res.species}}" [dialog]="true"></sprite-pokemon>
  </div>
  <!-- Egg -->
  <div *ngIf="dowseType === 2">
    You found an egg! You carefully picked up the egg.
    <br>
    <img src="{{res.sprite}}" title="Egg" />
  </div>
  <!-- Item -->
  <div *ngIf="dowseType === 3">
    You found a <strong>{{res.label}}</strong>!
    The <strong>{{res.label}}</strong> was placed in your bag.
    <br><br>
    <sprite-item item="{{res.api.item}}"></sprite-item>
  </div>
  <!-- Legendary -->
  <div *ngIf="dowseType === 4">
    <sprite-pokemon badge="{{res.species}}" [dialog]="true"></sprite-pokemon>
    <br><br>
    <span *ngIf="res.text">
      {{res.text}}
    </span>
    <span *ngIf="!res.text">
      <!-- Default -->
      You found the legendary {{res.label}}! Looks like it wants to stay with you.
    </span>
  </div>
  <!-- Radio -->
  <div *ngIf="dowseType === 5">
    <em>
      This is Buena, coming to you live from Goldenrod City. Here's a question
      for all our listeners. If you know the answer, call in and you may be
      able to win a valuable prize.
    </em>
    <br>
    <p class="radio-question">
      {{res.api.question}}
    </p>
    <span *ngFor="let ans of res.api.options, index as i" class="radio-option">
      <input type="radio" name="answer" value="{{ans}}" id="ans{{i}}" [(ngModel)]="answer" />
      <label for="ans{{i}}">{{ans}}</label>
      &emsp;
    </span>
    <br><br>
    <button mat-button raised (click)="submitAnswer(res.api.question)" [disabled]="exec.submitAnswer">
      <mat-icon>radio</mat-icon>
      Submit Answer
    </button>
  </div>
  <!-- Radio Answer -->
  <div *ngIf="dowseType === 6">
    <em>
      This is Buena, coming to you live from Goldenrod City. Here's a question
      for all our listeners. If you know the answer, call in and you may be
      able to win a valuable prize.
    </em>
    <br>
    <p class="radio-question">
      {{res.api.question}}
    </p>
    <div *ngIf="res.api.prize">
      <!-- We won prize -->
      <em>
        Correct! You've won a <strong>{{res.api.label}}</strong>.
      </em>
      <img src="{{res.api.sprite}}" />
      <br>
      <em>
        I hope to see you play again next week.
      </em>  
    </div>
    <div *ngIf="!res.api.prize">
      <!-- Lost prize -->
      <em>
        Sorry, that was the wrong answer! That's all the time we have this
        week. Try again next time.
      </em>
    </div>
  </div>
  <!-- Pkmn -->
  <div *ngIf="dowseType === 7">
    You found a wild {{res.label}}! Looks like it wants to stay with you.
    <br>
    <sprite-pokemon badge="{{res.species}}" [dialog]="true"></sprite-pokemon>
    <br>
    It is holding a an item!
    <sprite-item item="{{res.api.item}}"></sprite-item>
  </div>
  <!-- Error -->
  <div *ngIf="dowseType === 9">
    {{textRes}}
  </div>
</mat-card>