:host(.secret) #outer {
  filter: contrast(0);
  background-color: var(--app-background-color);
}

#outer {
  width: 40px;
  height: 8px;
  border: solid 1px var(--app-text-color);
  border-radius: 2px;
  transition-duration: 0.5s;
}

#inner {
  height: 8px;
  transition: all 100ms;
}
