<mat-card *ngIf="!isMoveTutor6Enabled">
  <h1>Move Tutor</h1>
  <p>
    The <strong>Move Tutor</strong> can teach your Pokémon new moves in
    exchange for <strong>1 Heart Scale</strong>. You have {{heartScales}} heart scales.
  </p>
  <div>
    <button mat-button (click)="useTutor(3)"><mat-icon>launch</mat-icon>Select Pokémon</button>
  </div>
</mat-card>

<mat-card *ngIf="isMoveTutor6Enabled">
  <h1>Battle Frontier Move Tutor</h1>
  <p>
    The <strong>Move Tutor</strong> can teach your Pokémon new moves in
    exchange for <strong>1 Heart Scale</strong>. You have {{heartScales}} heart scales.
  </p>
  <div>
    <button mat-button (click)="useTutor(3)"><mat-icon>launch</mat-icon>Select Pokémon</button>
  </div>
</mat-card>

<mat-card *ngIf="isMoveTutor6Enabled">
  <h1>Isle of Armor Move Tutor</h1>
  <p>
    The <strong>Move Tutor</strong> can teach your Pokémon new moves in
    exchange for <strong>1 Armorite Ore</strong>. You have {{armorite}} pieces of Armorite ore.
  </p>
  <div>
    <button mat-button (click)="useTutor(6)"><mat-icon>launch</mat-icon>Select Pokémon</button>
  </div>
</mat-card>

<collapsible-card>
  <span title>Use a TM</span>
  <p>
    You can use a <strong>Technical Machine</strong> on some of your Pokémon if
    you have the TM. This will use up that TM.
  </p>
  <input type="search" placeholder="Filter TMs" [(ngModel)]="tmFilter" (input)="filterTmList()"/>
  <ul>
    <li *ngFor="let tm of filterTms">
      <sprite-item item="{{tm.key}}" (click)="teachMove(tm.key)"></sprite-item>
      <span>×{{tm.count}}</span>
      <move-span (click)="teachMove(tm.key)" move="{{tm.key.substring(3)}}"></move-span>
    </li>
  </ul>
</collapsible-card>

<collapsible-card [collapsed]="true">
  <span title>Use a Mint</span>
  <p>
    You can change a Pokémon's nature by feeding them a minty snack.
  </p>
  <table>
    <div *ngFor="let mint of mints">
      <tr>
      <td class="item">
        <sprite-item item="{{mint.key}}" *ngIf="mint.count > 0" (click)="useMint(mint.nature, mint.key)"></sprite-item>
        <sprite-item item="{{mint.key}}" *ngIf="mint.count === 0"></sprite-item>
      </td>
      <td class="count">
        <span>×{{mint.count}}</span>
      </td>
      <td class="label">
        <strong class="label">{{mint.label}}</strong>
      </td>
      </tr>
      <tr>
      <td colspan="3">
        <small>&emsp;{{mint.description}}</small>
      </td>
      </tr>
    </div>
  </table>
</collapsible-card>

<collapsible-card [collapsed]="true">
  <span title>Feed Max Soup</span>
  <p>
    You can feed a Pokémon Max Soup to give it the Gigantamax factor. This
    soup can also remove this factor. You currently have {{maxMushroom}} Max
    Mushrooms <sprite-item item="maxmushroom"></sprite-item>
    and {{maxHoney}} Max Honeycombs <sprite-item item="maxhoney"></sprite-item>.
  </p>
  <button mat-button (click)="useGMax('mushroom')">
    Use a Max Mushroom
  </button>

  <button mat-button (click)="useGMax('honey')">
    Use a Max Honeycomb
  </button>
</collapsible-card>

<collapsible-card *ngIf="teraOrb" [collapsed]="true">
  <span title>Change Tera Types</span>
  <p>
    Now that you have the ability to Terastallize your Pokémon, you are able
    to update your Pokémon's Tera Type by using Tera Shards.
  </p>
  <table>
    <div *ngFor="let mint of mints">
      <tr>
      <td class="item">
        <sprite-item item="{{mint.key}}" *ngIf="mint.count > 0" (click)="useMint(mint.nature, mint.key)"></sprite-item>
        <sprite-item item="{{mint.key}}" *ngIf="mint.count === 0"></sprite-item>
      </td>
      <td class="count">
        <span>×{{mint.count}}</span>
      </td>
      <td class="label">
        <strong class="label">{{mint.label}}</strong>
      </td>
      </tr>
      <tr>
      <td colspan="3">
        <small>&emsp;{{mint.description}}</small>
      </td>
      </tr>
    </div>
  </table>
</collapsible-card>

<pokemon-dialog #pokemon show="false"></pokemon-dialog>

<dialog #dialog>
  <sprite-pokemon badge="{{selection}}" *ngIf="!exec.confirm"></sprite-pokemon>
  <sprite-evolution #evo [from]="selection" *ngIf="exec.confirm"></sprite-evolution>
  <br>
  <span *ngIf="selectionVar && mode === 1">
    Teach moves to {{selectionLabel}}? It would become var{{selectionVar}}.
  </span>
  <span *ngIf="!selectionVar && mode === 1">
    Actually, {{selectionLabel}} cannot be taught.
  </span>

  <table>
    <thead>
      <tr>
        <td>Current Moves</td>
        <td>After Change</td>
      </tr>
    </thead>
    <tbody>
      <td>
        <move-span *ngFor="let move of currentMoves" move="{{move}}"></move-span>
      </td>
      <td>
        <move-span *ngFor="let move of newMoves" move="{{move}}"></move-span>
      </td>
    </tbody>
  </table>

  <button mat-button (click)="close()">
    Cancel
  </button>
  <button mat-button (click)="confirm()" [disabled]="exec.confirm">
    Confirm
  </button>
</dialog>