<button mat-icon-button aria-label="Timer" (click)="show()"
    matBadge="{{counter}}" [matBadgeHidden]="counter === 0"
    matBadgeOverlap="true" matBadgePosition="below after"
    matTooltip="{{tooltip}}" matTooltipHideDelay="100">
  <mat-icon>timer</mat-icon>
</button>

<dialog #dialog>
  <h1 class="centered">Time Until</h1>
  <table>
    <tbody>
      <tr>
        <td>
          <mat-icon svgIcon="menu-battle"></mat-icon>
        </td>
        <td>
          Battle
        </td>
        <td>
          {{timeUntil.battle}} minutes
        </td>
      </tr>
      <tr>
        <td>
          <mat-icon svgIcon="menu-daycare"></mat-icon>
        </td>
        <td>
          Daycare
        </td>
        <td>
          {{timeUntil.daycare}} minutes
        </td>
      </tr>
      <tr>
        <td>
          <mat-icon svgIcon="menu-research"></mat-icon>
        </td>
        <td>
          Claim Research
        </td>
        <td>
          {{timeUntil.research}} minutes
        </td>
      </tr>
      <tr>
        <td>
          <mat-icon svgIcon="menu-release"></mat-icon>
        </td>
        <td>
          Release
        </td>
        <td>
          {{timeUntil.release}} minutes
        </td>
      </tr>
      <tr>
        <td>
          <mat-icon svgIcon="menu-raids"></mat-icon>
        </td>
        <td>
          Create Raid
        </td>
        <td>
          {{timeUntil.raid}} minutes
        </td>
      </tr>
      <tr>
        <td>
          <mat-icon svgIcon="menu-games"></mat-icon>
        </td>
        <td>
          Draw Lottery Ticket
        </td>
        <td>
          {{timeUntil.gamecorner}} minutes
        </td>
      </tr>
      <tr>
        <td>
          <mat-icon svgIcon="menu-wonder"></mat-icon>
        </td>
        <td>
          Wonder Trade
        </td>
        <td>
          {{timeUntil.wonder}} minutes
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <mat-slide-toggle [(ngModel)]="notify" (click)="updateNotify()">
    Notify this browser (Keep tab open)
  </mat-slide-toggle>
  <br><br><br>
  <button mat-button (click)="close()">Close</button>
</dialog>