<mat-card>
  <lotto-draw [ticket]="[1, 3, 5, 7, 9, 2]"></lotto-draw>
</mat-card>

<mat-card>
  <sprite-crafting [input]="['tumblestone','apricorn','ironchunk']" output="pokeball"></sprite-crafting>
</mat-card>

<mat-card>
  <battle-players [players]="['dm#3wY00x']" [opponents]="['dm#3wY00x']" tier="Red Cup"></battle-players>
  <br><br><br>
  <battle-players [players]="['dm#3wY00x']" [opponents]="['dm#3wY00x']" tier="Platinum Cup"></battle-players>
  <br><br><br>
  <battle-players [players]="['dm#3wY00x']" [opponents]="['dm#3wY00x']" tier="Plasma Cup"></battle-players>
  <br><br><br>
  <battle-players [players]="['dm#3wY00x']" [opponents]="['dm#3wY00x']" tier="GigantaCup"></battle-players>
</mat-card>
